


.brand-logo {
	width: 60px;
	height: 60px;
}

.brand-name {
	font-size: 30px;

}
.brand-3 li
{
	display:inline;
	margin-left: 190px;
	margin-bottom: 30px
	
}
.brand-img
{
	width: 320px;
	height: 260px;
	position:relative;
	left:230px;
}




.p-content {
	display: inline-flex;
}

.top {
	text-align: center;
}

p
{
	/*text-align: center;
    font-size:24px;*/

}
h1
{
	text-align: center;
 

}
.v
{
	font-size:60px;

}
