/* Resetting Default margin and padding */
*
{
	margin:0px;
	padding: 0px;
	
}

/* Header Part Design */
header
{
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.26);
	width: 100%;
}

.heading
{
	font-family: Arial;
	font-size: 3em;
	display: inline-flex;
	margin-left: 20%;
	margin-right: 30%;
	padding: 1% 0%;
}
.heading span
{
	padding-top: 4px;
	margin-left: 30px;
}


/* Whole Body Part */
.myContainer
{
	padding-left: 3px;
	padding-right:3px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
	margin-left: 20%;
	margin-right: 20%;
}

/*Navigation Bar Part */

.navbar ul 
{
	list-style-type: none;
	display: flex;
}
.navbar ul li
{
	padding: 2% 6%;
}
.navbar a
{
	text-decoration: none;
	color : black;
}
.navbar ul li:hover
{
	background-color: #adc6a9;
}
.yonko
{
	height="250px;"; 
	width="500px ";
}
.icon
{
	display: none;
	float: right;
}
/* Main Body Part */
.row
{
	width:100%;
	display: inline-block;
}
.col-1 
{
    width: 50%;
    float: left;
    padding: 1%;
}
.col-2
{
	width: 50%;
	float:left;
	
}

.col-1 img, .col-1-lg img,.col-2 img
{
	max-width: 100%;
}

.news
{
	margin-left: 33px;
}
.news li
{
	margin: 5px 0px 5px 0px ;
}
.news li a
{
	text-decoration: none;
	color: #557726;
}

/* second article  */
#bounty
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
}
#bounty th
{
	background-color: #28ba76;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	color: white;
}

#bounty tr:nth-child(even)
{
	background-color: #f2f2f2;
}

#bounty td, #bounty th
{
	border: 1px solid #ddd;
    padding: 8px;
}
.newspara p
{
	margin-bottom: 20px;
}
.newspara img
{
	padding-right: 20px;
}
footer a
{
	display: flex;
	float: left;
	padding: 3px 40px;
	text-decoration: none;
	color: black;
}